.navbar {
    margin-bottom: 10px;
    
    display: flex;
    justify-content: flex-start;
    gap: 20PX;
    align-items: center;
    padding: 10px 40px;
    background-color: #333;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    color: #f3f3f3;
}







@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: start;
        gap: 1PX;
        padding: 10px 20px;
    }

 
}