
body{
  background-color: #222;
}
.App {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  color: #f3f3f3;
  min-height: 100vh;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}

button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  background-color: #444;
  color: #f3f3f3;
  transition: all 0.3s ease-in-out;
  outline: none;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.properties-display {
  max-width: 1000px; 
  width: 90%;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  background-color: #333;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
}

.properties-display:hover {
  background-color: #444; 
}

.properties-display h2,
.modification-section h3 {
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #ecf0f1; 
}

.modification-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.modification-section label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  color: #ecf0f1; 
}

.modification-section input {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #555; 
  border-radius: 5px;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.modification-section input[type="text"],
.modification-section input[type="range"] {
  width: 100%;
}

.modification-section input:focus {
  border-color: #3498db;
  background-color: #444; 
  outline: none;
}


@media (max-width: 768px) {
  .properties-display,
  .modification-section {
    width: 100%;
  }

  .modification-section {
    grid-template-columns: 1fr; 
    gap: 10px;
  }
}






@media (max-width: 768px) {
  .App {
    padding: 20px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }


}
